.git
.gitignore
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
storage/*.key
public/build
public/hot
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
auth.json
.fleet
.idea
.vscode
.cursor
*.md
!README.md
docker-compose.yml
Dockerfile
.dockerignore

